{{#if embedQuoteButton}}
  {{d-button
    class="btn-flat insert-quote"
    action=(action "insertQuote")
    icon="quote-left"
    label="post.quote_reply"}}
{{/if}}

{{#if quoteSharingEnabled}}
  <span class="quote-sharing">
    {{d-icon "caret-right"}}

    <span class="quote-share-buttons">
      {{d-button
        class="btn-flat tweet-quote"
        action=(action "shareQuoteTwitter")
        icon="fab-twitter"
        title="post.share_quote_twitter"}}
    </span>
  </span>
{{/if}}

{{plugin-outlet name="share-quote-after" tagName=""}}
